
body{
    display: flex;
    background-color: blue;
    flex-direction: column;
}
#top{
    background-color: rgb(229, 11, 11);

}


#main-body{
    background-color: brown;
}


#new-book-button{
    color: white;
    background-color: teal;
    width: 100px;
    height: 50px;

}

.book-form{
    height: 500px;
}